<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mentors</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            color: #615F60;
            background-color: #e8e8e8;
        }
        h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        .mentor-card {
            background-color: #ffffff;
            padding: 15px;
            margin: 15px;
            box-shadow: 3px 3px 10px #d2d2d2;
        }
        .mentor-card .header {
            margin-bottom: 20px;
        }
        .mentor-card .profile_link:hover {
            color: #FF66A5;
        }
        .mentor-card .tweet {
            white-space: pre-wrap;
        }
        .mentor-card .bio {
            color: #A6A6A6;
            font-size: 0.9rem;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>
