<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mentors</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            color: #615F60;
            padding: 0;
            margin: 0;
        }
        h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        .long {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .main {
            width: 100%;
            max-width: 1000px;
            margin: auto;
            overflow-x: hidden;
        }
        @media screen and (min-width: 481px) {
          body {
            background-color: #f6f6f6;
          }
        }
    </style>
     {{{contentFor.head}}}
</head>
<body>
    <div class="main">
        {{{body}}}
    </div>
</body>
</html>
