{{#each mentors}}
  <div class="mentor-card">
    <div class="header">
      <h3><a class="profile_link" href="{{twitter_url}}">{{full_name}}</a></h3>
      <div class="bio">{{bio}}</div>
    </div>
    <div class="tweet">{{tweet}}</div>
  </div>
{{/each}}
